.tf-btn.btn-fill.btn-white{
    background-color: #ec145a;
    color: #fff;
}
.small-text{
    font-size: 50px;
}
.wrap-slider .box-title-slider{
    gap: 0;
}
.card-product-info {
    text-align: center;
}
.card-product-info .product-title{
    color: #548ad2;
    font-weight: bold;
    margin-bottom: 5px;
}
.card-product-info a.title{
    background-color: #548ad2;
    font-weight: bold;
    color: #fff;
    padding: 7px 15px;
    border-radius: 4px;
    display: inline;
    width: 200px;
    text-align: center!important;
    margin: 10px auto 0;
}
.card-product-info a.title:hover{
    background-color: #548ad2!important;
    color: #fff!important;
}
.topick .swiper-backface-hidden .swiper-slide{
    padding-bottom: 30px;
    box-shadow: 1px 1px 1px #ccc;
    margin-bottom: 5px;
    background-color: #fff;
}
.flat-spacing-8, .flat-spacing, .flat-spacing-10{
    padding: 50px;
}
.flat-spacing.topick{
    padding-top: 20px;
}
.blog .blog-item{
    text-align: center;
    padding: 30px;
}
.blog .blog-item .title{
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0;
}
.blog .blog-item .desc{
    font-size: 14px;
    margin: 10px 0;
}
.blog .blog-item a{
    margin-top: 10px;
    color: #548ad2;
    font-weight: bold;
}
.blog{
    padding: 40px 0;
}
.custom-say{
    background: rgba(134, 121, 121, 0.1);
    padding: 60px!important;
}
.testimonial-item .content-top{
    margin-bottom: 0;
    border-bottom: 0;
}
.flat-spacing.bg-css{
    background: rgba(0, 0, 0, 0.8);
}
.flat-spacing.bg-css .heading, .flat-spacing.bg-css .subheading{
    color: #fff!important;
}
.collection-position-2.style-7 .content{
    bottom: 28px!important;
    top: auto;
}
.collection-position-2.style-7 .content .link{
    font-size: 20px;
}
.topick .sw-dots.type-circle .swiper-pagination-bullet.swiper-pagination-bullet-active{
    border: 1px solid #fff;
}
.topick .sw-dots.type-circle .swiper-pagination-bullet.swiper-pagination-bullet-active::after, .topick .sw-dots.type-circle .swiper-pagination-bullet::after{
    background-color: #fff;
}
.custom-say .heading-section h3, .heading-section .heading, .list-star-default .icon{
    color: #d20046;
}
.custom-say{
    padding-bottom: 80px!important;
}
.custom-say .testimonial-item .content-top {
    padding-bottom: 0;
}
