.tf-btn.btn-fill.btn-white{
    background-color: #d21e50;
    color: #fff;
}
.small-text{
    font-size: 50px;
}
.wrap-slider .box-title-slider{
    gap: 0;
}
.card-product-info {
    text-align: center;
}
.card-product-info .product-title{
    color: #3c3c8c;
    font-weight: bold;
    margin-bottom: 5px;
}
.card-product-info a.title{
    background-color: #3c3c8c;
    font-weight: bold;
    color: #fff;
    padding: 7px 15px;
    border-radius: 4px;
    display: inline;
    width: 200px;
    text-align: center!important;
    margin: 10px auto 0;
}
.card-product-info a.title:hover{
    background-color: #548ad2!important;
    color: #fff!important;
}
.topick .swiper-backface-hidden .swiper-slide{
    padding-bottom: 30px;
    box-shadow: 1px 1px 1px #ccc;
    margin-bottom: 5px;
    background-color: #fff;
}
.flat-spacing-8, .flat-spacing, .flat-spacing-10{
    padding: 50px;
}
.flat-spacing.topick{
    padding-top: 20px;
}
.blog .blog-item{
    text-align: center;
    border: 0;
    padding: 30px 10px;
}
.blog .blog-item .title{
    font-weight: bold;
    font-size: 18px;
    margin: 25px 0 10px;
}
.blog .blog-item img{
    width: 80px;
    margin: 0 auto;
}
.blog .blog-item .desc{
    font-size: 14px;
    margin: 10px 0 20px;
}
.blog .blog-item a{
    margin-top: 10px;
    color: #3c3c8c;
    font-weight: bold;
}
.blog{
    padding: 40px 0;
}
.custom-say{
    background: rgba(134, 121, 121, 0.1);
    background: #fff;
    /*padding: 60px!important;*/
}
.testimonial-item .content-top{
    margin-bottom: 0;
    border-bottom: 0;
}
.flat-spacing.bg-css{
    background: rgba(134, 121, 121, 0.1);
}
.flat-spacing.bg-css .heading{
    color: black!important;
    font-weight: bold;
}
.collection-position-2.style-7 .content{
    bottom: 28px!important;
    top: auto;
}
.collection-position-2.style-7 .content .link{
    font-size: 20px;
}
/*.topick .sw-dots.type-circle .swiper-pagination-bullet.swiper-pagination-bullet-active{*/
/*    border: 1px solid #fff;*/
/*}*/
/*.topick .sw-dots.type-circle .swiper-pagination-bullet.swiper-pagination-bullet-active::after, .topick .sw-dots.type-circle .swiper-pagination-bullet::after{*/
/*    background-color: #fff;*/
/*}*/
.custom-say .heading-section h3, .heading-section .heading, .list-star-default .icon{
    color: #d20046;
    font-weight: bold;
}
.custom-say{
    /*padding-bottom: 80px!important;*/
}
.custom-say .testimonial-item .content-top {
    padding-bottom: 0;
}
.card-product .card-product-wrapper{
    border-radius: 0px!important;
}
.collection-position-2{
    border-radius: 10px;
}
.customer-tick{
    width: 19px;
    margin-left: 5px;
}
section.section-text > div{
    display: flex;
    justify-content: center;
}
section.section-text > div > div{
    padding: 10px 15px;
    color: #d20046;
    font-weight: bold;
    display: inline-block;
    float: left;
}
.signature-sprint__card-subtitle {
    color: #434446;
    line-height: 150%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: center;
}

.box-product-common__row > div:not(:first-child) {
    margin-top: 10px;
}
.signature-contentblock{
    display: flex;
}
.signature-contentblock--reverse {
    flex-direction: row-reverse;
}
.signature-contentblock__image {
    width: 50%;
}
.signature-contentblock__html {
    width: 50%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    padding: 70px 50px;
    padding-right: 0;
}
.signature-contentblock--reverse .signature-contentblock__html{
    padding-right: 50px;
    padding-left: 0;
}
.product-marketing__img {
    position: relative;
}
.signature-contentblock__title {
    color: #434446;
    line-height: 120%;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 16px;
    font-weight: bold;
}
.signature-contentblock__subtitle {
    color: #434446;
    line-height: 150%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-align: justify;
}
.signature-contentblock__subtitle ul{
    padding-left: 20px;
}
.signature-contentblock__subtitle ul li{
    list-style: disc;
}
.box-first-content-flex{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.box-first-content-flex img{
    width: 50px;
    margin-right: 15px;
}
.box-first-content-flex div{
    font-weight: bold;
}
.box-hau-mai{
    margin-bottom: 40px;
}
.box-hau-mai h3{
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.content-hau-mai{
    padding: 20px;
    background: #fff;
    background: rgba(134, 121, 121, 0.1);
}
.content-hau-mai h4{
    text-transform: uppercase;
    color: #3c3c8c;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 20px;
    min-height: 70px;
    align-items: end;
    display: flex
}
.content-hau-mai h4 span{
    font-size: 60px;
    display: contents;
}
.content-hau-mai a {
    padding: 10px 30px;
    background: gray;
    margin-top: 20px;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    width: 180px;
    text-align: center;
}










/*update*/
.wrap-slider > .box-content{
    display: table;
    left: 0px;
    padding: 35px 7.44vw;
    /*box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);*/
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
}
.slider-effect-fade .swiper-slide.swiper-slide-active .fade-item{
    margin-top: 1vw;
}
.tf-slideshow .wrap-slider{
    height: calc(100vh - 13vw);
}
.card-product{
    background: #fff;
}
.card-product .card-product-info{
    min-height: 7.18vw;
    padding-bottom: 16px;
    padding-top: 0;
}
.card-product-info .product-title{
    color: rgb(228, 49, 49)!important;
    font-family: 'KoHo';
    font-weight: bold;
    font-size: 1.94vw;
    align-content: end;
    line-height: 1.94vw;
}
.card-product-info .product-desc{
    font-family: 'Inter';
    font-size: 1.24vw;
}
.tf-slideshow img{
    height: calc(100vh - 13vw);
}
section.section-text > div > div{
    font-size: 25px;
    gap: 3.64vw;
}
section.section-text > div{
    align-items: center;
    height: 4.27vw;
}

.section-one .swiper-slide{
    margin-right: 45px!important;
}

.section-one{
    padding-top: 0px;
}

.section-one .heading-section h3{
    height: 8.85vw;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.68vw;
}
.tf-topbar .topbar-left{
    gap:3.22vw;
}
.sw-dots:not(.swiper-pagination-lock){
    display: none;
}
.text-caption-1{
    font-size: 1.11vw;
}
#header .box-nav-ul .item-link{
    font-size: 1.3vw;
    font-family: 'Inter';
    font-weight: 500;
}
.topbar-left{
    padding-right: 7.44vw;
}
.header-default .box-nav-ul{
    gap:3.22vw;
}

.box-first-content-flex div{
    font-size: 2.08vw;
    font-family: 'Inter';
    font-weight: 500;
    line-height: 2.08vw;
}
.box-first-content-flex img{
    width: 4.16vw;
}
.signature-contentblock__title{
    font-size: 4.16vw;
    font-family: 'Inter';
    font-weight: 600;
    color:black;
}
.signature-contentblock__subtitle{
    font-size: 1.73vw;
    font-family: 'Inter';
    font-weight: 400;
    color:black;
    line-height: 2.36vw;
}
.flat-spacing.section-two{
    padding: 0px;
}
.signature-contentblock{
    align-items: center;
    height: 41vw;
}
.tf-slideshow.slider-default.slider-effect-fade .title-display{
    font-size: 2.6vw!important;
    line-height: 3.5vw;
    margin-top: 0!important;
}
.tf-slideshow.slider-default.slider-effect-fade .title-display span{
    font-size: 2.08vw!important;
}
.wrap-slider .content-slider{
    gap: 0!important
}
.slider-default .box-content{
    bottom: 4vw;
}
.home-padding{
    padding: 0 7.44vw;
}
.content-hau-mai .css-text{
    font-size: 2.43vw;
    line-height: 2.91vw;
    font-family: 'Inter';
    font-weight: 600;
    color:black;
}
.box-hau-mai .title{
    height: 7.81vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-hau-mai h3{
    font-size: 3.68vw;
    font-family: 'Inter';
    font-weight: 700;
    color:black;
    margin-bottom: 0px;
}
.content-hau-mai > div >div.d-flex{
    align-items: center;
}
.content-hau-mai > div >div.d-flex img{
    height: calc(100% - 20px)!important;
    margin-right: 10px;
}
.content-hau-mai > div > p{
    font-size: 1.11vw;
    font-family: 'Inter';
    font-weight: 400;
    color:black;
    line-height: 1.73vw;
    margin-top: 15px;
}
.content-hau-mai a{
    font-size: 1.11vw;
    margin-top: 5px;
}
.home-padding hr{
    margin: 0;
}
.section-one .heading-section{
    margin-bottom: 0;
}











@media (max-width: 900px) {
    .signature-contentblock__image {
        width: 50%;
    }
    .signature-contentblock__html {
        width: 50%;
        padding: 30px;
    }
    .signature-contentblock__title {
        font-size: 1.2rem;
    }
    .signature-contentblock__subtitle {
        font-size: 0.6rem;
    }
}

@media (max-width: 600px) {
    .signature-contentblock__image {
        width: 100%;
    }
    .signature-contentblock__html {
        width: 100%;
        padding: 15px;
        background: rgba(134, 121, 121, 0.1);
    }
    .signature-contentblock__title {
        font-size: 20px;
    }
    .signature-contentblock__subtitle {
        font-size: 14px;
    }
    .signature-contentblock{
        display: grid;
        border: 1px solid rgba(134, 121, 121, 0.1);
        box-shadow: 0px 0px 10px #cacaca;
    }
    .box-product-common__row > div:not(:first-child) {
        margin-top: 30px;
    }

    .flat-spacing-8, .flat-spacing, .flat-spacing-10{
        padding: 20px 0px!important;
    }
    .custom-say{
        padding: 20px 10px!important;
    }
    .blog{
        padding: 20px 0px!important;
    }
    .blog .blog-item{
        padding: 10px;
    }

    .blog-item.card .card-body{
        padding: 0 0 0;
    }
    .blog .blog-item .desc{
        margin: 5px 0 5px;
    }
    .blog .blog-item .title{
        margin: 15px 0 5px;
    }
    .mt-auto{
        margin-top: 15px!important;
    }
    .mb-p-0{
        padding: 0;
    }
    .section-text > div{
        display: flex!important;
    }
}

@media (max-width: 480px) {
    .section-text > div{
        /*display: inline-block!important;*/
    }
    .section-text > div > div{
        /*width: 50%;*/
        text-align: center;
    }
}
.swiper {
    /*overflow: visible;*/
}
@media (max-width: 440px) {
    .section-text > div > div{
        font-size: 13px;
        padding: 10px 5px!important;
    }
}
